.section_two {
    width: 1440px;
    max-width: 1440px;
     height: 744px; 
    background: aqua;
      margin-top: 200px;
      position: relative;
}

 .p1 {
  font-family: Montserrat, sans-serif;
  color: black;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5; 
  flex: 1;
}

.heroes {
  
  width: 150px;
  height: auto;

  flex-shrink: 0;
 
}
