.Subscribe {
    width: 1440px;
    height: 594px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 430px;
}

.Subscribe button {
    width: 117px;
    height: 58px;
    gap: 10px;
    border-radius: 0px 5px 5px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: white;
    background: #23A6F0;
    border: none;
    cursor: pointer;
}

.Subscribe button:hover {
    background-color: rgb(117, 210, 253);
    color: black;
}

.Subscribe h6 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #23A6F0;
}

.text1, .text2 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #737373;
}

.text1 {
    margin-left: 62px;
}

.Subscribe .title h2 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: -15px;
    margin-bottom: 6px;
}



.Subscribe button span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.Subscribe ::placeholder {
    width: 80px;
    height: 28px;
    top: 15px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #737373;
    padding-left: 15px;
}

.Subscribe input {
    width: 688px;
    height: 55px;
    gap: 47px;
    border-radius: 5px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px, solid, #E6E6E6;
    background-color: #F9F9F9;
}

.email {
    margin-top: 150px;
}

.title {
    width: Fixed (691px)px;
    height: Hug (134px)px;
    gap: 10px;
    opacity: 0px;
}